body{
    max-width: 400px;
    border: 1px solid red;
}
#play {
    height: 50px;
    font-size: 25px;
    text-align: center;
    margin: 0 auto;
}
#reset {
    height: 50px;
    font-size: 25px;
    display: none;
    text-align: center;
}
.grid {
    width: 328px;
    height: 318px;
    border: 1px solid black;
    background: grey;
    display: none;
    margin: 0 auto;
}
.square {
    background: white;
    display: inline-block;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 80px;
    vertical-align: top;
    margin: 3px;
    font-family: 'Gochi Hand', cursive;
}
#gamereport {
    width: 400px;
    display: none;
    text-align: center;
}
#winner {
    display: none;
}